@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'VesterbroBold';
	font-weight: bold;
	src: url('./assets/fonts/TRYVesterbro-Extrabold.otf') format('OpenType');
}
